* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.container {
    height: 100vh;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.calculadora {
    background-color: hsl(222, 26%, 31%);
    width: 300px;
    height: 500px;
    text-align: center;
    border: solid black 1px;
    display: block;
    border-radius: 8px;
}

.display {
    background-color: hsl(224, 36%, 15%);
    width: 100%;
    height: 70px;
    overflow-x: auto;
    display: flex;
    text-align: right;
    align-items: center;
    color: white;
    font-size: 25px;
    border-radius: 8px;
}

.botones {
    background-color: hsl(223, 31%, 20%);
    display: inline-block;
    cursor: pointer;
    text-align: center;
    /*border: solid hsl(223, 31%, 20%) 10px;*/
    border-radius: 8px;
    width: 100%;
    bottom: -70px;
    position: relative;
}

.boton {
    border-radius: 8px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 5px;
    box-shadow: 0 3px #999;
    border-style: none;
    cursor: pointer;
}

.boton:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.boton:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.del,
.reset {
    background-color: hsl(225, 21%, 49%);
    color: white;
}

.igual {
    background-color: orangered;
    color: white;
}

.igual,
.reset {
    width: 115px;
    height: 50px;
}